table.news-links td{font-size:15px}
table.news-links td,table.news-links th{white-space:pre-wrap;padding:10px 5px;line-height:20px;vertical-align: middle;border: 0 solid #455261;}
table.news-links tr:hover td{color:#455261;cursor:default;}
.my-news-links-first-th{width: 64px;color:#455261;font-size: 12px;font-weight: 400;}
.my-news-links-second-th{width: 95%;color:#455261;font-size: 12px;font-weight: 400;}
.my-news-links-second-th p{
 text-align: justify;
 width: 100%;
 margin:0;
}
.my-news-links-second-th p:after{
 content: "";
 display: inline-block;
 width: 100%;
}
.my-news-links-date-th{min-width: 230px;width: 10%;color:#455261;text-align: right;}
.my-news-links-user-th{
 color: #000;
 color: rgba(0, 0, 0, 0.2);
 font-size: 8pt;
 font-family: Arial, sans-serif;
 text-align: right;
}
