* {
    box-sizing: border-box;
}

/* Style the body */
body {
    min-width:550px; // Suppose you want minimum width of 550px
    _width: expression( document.body.clientWidth > 550 ? "550px" : "auto" ); /* sets max-width for IE6 */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.my-header {
    position: absolute;
    height: 90px;
    width: 100%;
    padding: 4px;
    text-align: center;
    background: white;
    color: #3f3f3f;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    position: absolute;
    top: 90px;
    height: 44px;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.my-row {
    position: absolute;
    top: 134px;
    bottom: 10px;
    width: 100%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.my-side {
    /* -ms-flex: 25%; /* IE10
    flex: 25%; */
    background-color: #f1f1f1;
    border: 1px solid #c8c8c8;
    padding: 5px;
    width: 240px;
    min-width: 230px;
}

/* Main column */
.my-main {
    -ms-flex: 55%; /* IE10 */
    flex: 55%;
    background-color: white;
    padding: 0;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.timestamp-bottom {
    margin-bottom: 15px;
}

/* Footer */
.my-footer {
    position:absolute;
    height: 10px;
    bottom: 0;
    padding: 2px;
    text-align: center;
    background: #ddd;
    border: 1px solid #c8c8c8;
}

img.my-left-top {
    float:left; /* Выравнивание по левому краю */
    margin: 17px 17px 17px 17px; /* Отступы вокруг картинки */
    vertical-align: text-top;
}

.my-left-top {
    float:left; /* Выравнивание по левому краю */
    margin: 17px 17px 17px 17px; /* Отступы вокруг картинки */
    vertical-align: text-top;
}

.center-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-col-d {
    display: table-cell;
}
.p-col-m {
    display: none;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 17px 17px 17px 17px; /* Отступы вокруг картинки */
}
.rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .p-col-d {
        display: none;
    }
    .p-col-m {
        display: inline-block;
    }
}

.my-p-calendar {
    font-size: 10px;
}

.my-divTable{
    display: table;
    width: 100%;
}
.my-divTableRow {
    display: table-row;
}
.my-divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.my-divTableCellLeft, .my-divTableHeadLeft {
    width: 10%;
    border: 0 solid #999999;
    display: table-cell;
    padding: 15px 10px;
}
.my-divTableCell, .my-divTableHead {
    border: 0 solid #999999;
    display: table-cell;
    padding: 15px 10px;
}
.my-divTableCellRight, .my-divTableHeadRight {
    width: 10%;
    border: 0 solid #999999;
    display: table-cell;
    padding: 15px 10px;
}
.my-divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.my-divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.my-divTableBody {
    display: table-row-group;
}

.my-h5 {
    margin-block-start: 1.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.my-p-inputtext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #333333;
    background: #ffffff;
    padding: 0.429rem 0.429rem;
    border: 1px solid #a6a6a6;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 3px;
    width: 22.2em;
}

.my-p-button {
    color: #ffffff;
    background: #777777;
    border: 1px solid #555555;
    padding: 0.429rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

.p-selectbutton .p-button.p-highlight:hover {
    background: #111f1f;
    border-color: #111f1f;
    color: #ffffff;
}


.p-paginator {
    margin: 0;
    text-align: center;
    padding: .125em
}

.p-paginator .p-paginator-top {
    border-width: 1px 0 0 0;
}

.p-paginator .p-paginator-bottom {
    border-width: 0 0 1px 0;
}

.p-dataview .p-paginator-top {
    border-width: 1px 0 0 0;
}

.p-dataview .p-paginator-bottom {
    border-width: 0 0 1px 0;
}

.p-paginator .p-paginator-left-content {
    float: left
}

.p-paginator .p-paginator-right-content {
    float: right
}

.p-paginator .p-paginator-current, .p-paginator .p-paginator-first, .p-paginator .p-paginator-last, .p-paginator .p-paginator-next, .p-paginator .p-paginator-page, .p-paginator .p-paginator-pages, .p-paginator .p-paginator-prev {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    zoom: 1;
    margin-left: .063em;
    margin-right: .063em;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    position: relative
}

.p-paginator .p-paginator-pages {
    width: auto;
    line-height: 1
}

.p-paginator .p-paginator-icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    margin-left: -.5em
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-last, .p-paginator .p-paginator-next, .p-paginator .p-paginator-page, .p-paginator .p-paginator-prev {
    cursor: pointer
}

.p-paginator .p-paginator-current, .p-paginator .p-paginator-rpp-options {
    margin-left: 1em;
    margin-right: 1em;
    background-image: none
}

.p-paginator .p-paginator-jtp-select option, .p-paginator .p-paginator-rpp-options option {
    background-image: none;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.p-paginator a.p-disabled {
    outline: 0 none
}

.p-paginator .p-dropdown {
    min-width: 4em;
    margin-left: .375em
}

.p-fluid .p-paginator .p-dropdown {
    width: auto
}

.p-paginator .p-paginator-current {
    width: auto;
    height: auto
}


:not(.sb-show-main) > .sb-main,
:not(.sb-show-nopreview) > .sb-nopreview,
:not(.sb-show-errordisplay) > .sb-errordisplay {
    display: none;
}

table.article td{font-size:14px}

table.article td,table.article th{white-space:pre-wrap;padding:10px 5px;line-height:18px;vertical-align: middle;border: 0x solid #354251;}

table.article tr:hover td{color:#354264;cursor:default;}

.my-article-first-th{width: 64px;color:#354251;font-size: 12px;font-family: "Helvetica";font-weight: 500;}

.my-article-second-th{width: 95%;color:#354251;font-size: 12px;font-family: "Helvetica";font-weight: 500;}
.my-article-second-th p {
    text-align: justify;
    width: 100%;
    height:10px;
    line-height:10px;
    margin:0;
}
.my-article-second-th p:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.my-article-date-th{min-width: 230px;width: 10%;color:#354251;text-align: right;}

.my-article-user-th{
    color: #000;
    color: rgba(0, 0, 0, 0.2);
    font-size: 8pt;
    font-family: Arial, sans-serif;
    text-align: right;
}

table.news-entry td{font-size:15px}

table.news-entry td,table.news-entry th{white-space:pre-wrap;padding:10px 5px;line-height:20px;vertical-align: middle;border: 0 solid #455261;}

table.news-entry tr:hover td{color:#455261;cursor:default;}

.my-news-entry-first-th{width: 64px;color:#455261;font-size: 12px;font-weight: 400;}

.my-news-entry-second-th{width: 95%;color:#455261;font-size: 12px;font-weight: 400;}
.my-news-entry-second-th p {
    text-align: justify;
    width: 100%;
    height:10px;
    line-height:10px;
    margin:0;
}
.my-news-entry-second-th p:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.my-news-entry-date-th{min-width: 230px;width: 10%;color:#455261;text-align: right;}

.my-news-entry-user-th{
    color: #000;
    color: rgba(0, 0, 0, 0.2);
    font-size: 8pt;
    font-family: Arial, sans-serif;
    text-align: right;
}



table.news-links td{font-size:15px}

table.news-links td,table.news-links th{white-space:pre-wrap;padding:10px 5px;line-height:20px;vertical-align: middle;border: 0 solid #455261;}

table.news-links tr:hover td{color:#455261;cursor:default;}

.my-news-links-first-th{width: 64px;color:#455261;font-size: 12px;font-weight: 400;}

.my-news-links-second-th{width: 95%;color:#455261;font-size: 12px;font-weight: 400;}
.my-news-links-second-th p {
    text-align: justify;
    width: 100%;
    height:10px;
    line-height:10px;
    margin:0;
}
.my-news-links-second-th p:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.my-news-links-date-th{min-width: 230px;width: 10%;color:#455261;text-align: right;}

.my-news-links-user-th{
    color: #000;
    color: rgba(0, 0, 0, 0.2);
    font-size: 8pt;
    font-family: Arial, sans-serif;
    text-align: right;
}



.descField{
    font-size: 10px;
    font-family: "Helvetica";
    font-weight: 900;
    color: #96989A;
}

.valueField{
    font-size: 10px;
    font-family: "Helvetica";
    font-weight: 900;
    color: #606062;
}
.valueField p {
    text-align: justify;
    width: 100%;
    height:10px;
    line-height:10px;
    margin:0;
}
.valueField p:after{
    content: "";
    display: inline-block;
    width: 100%;
}

.sb-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
}

.sb-heading {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin: 10px 0;
    padding-right: 25px;
}

.sb-nopreview {
    display: flex;
    align-content: center;
    justify-content: center;
}

.sb-nopreview_main {
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background: rgba(0,0,0,0.03);
}

.sb-nopreview_heading {
    text-align: center;
}

.sb-errordisplay {
    border: 20px solid rgb(187, 49, 49);
    background: #222;
    color: #fff;
    z-index: 999999;
}

.sb-errordisplay_code {
    padding: 10px;
    background: #000;
    color: #eee;
    font-family: "Operator Mono", "Fira Code Retina", "Fira Code", "FiraCode-Retina", "Andale Mono", "Lucida Console", Consolas, Monaco, monospace;
}

.sb-errordisplay pre {
    white-space: pre-wrap;
}
.calendar {
    border-radius: 5px;
    padding: 3px;
    margin: 0;
    max-width: 225px;
}
.calendar-month {
    width: 225px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.calendar-month_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.calendar-week,
.calendar-days_of_week {
    display: flex;
    justify-content: space-between;
}
.calendar-week-day,
.calendar-days_of_week_day {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 30px;
    opacity: 0.5;
    font-size: 12px;
}
.calendar-week-day {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}
.calendar-week-day.is-selectable {
    cursor: pointer;
}
.calendar-week-day.is-disabled {
    background: #f5f5f5;
}
.calendar-week-day.is-current_month {
    opacity: 1;
}
.calendar-week-day.is-selected {
    background: #008000;
}
.calendar-week-day.is-selected.is-start_selection {
    background: #f00;
}
.calendar-week-day.is-selected.is-end_selection {
    background: #00f;
}
.calendar-header_button.is-prev:before {
    content: '<';
}
.calendar-header_button.is-next:before {
    content: '>';
}
.date_picker {
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #e4e7ea;
    color: #303030;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    max-width: 250px;
    font-family: 'PT Sans', sans-serif;
}
.date_picker-month_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.date_picker-month_header_wrapper {
    text-align: center;
    margin: 0 auto 25px;
}
.date_picker-month_header_title {
    font-size: 10px;
}
.date_picker-header_button {
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #e4e7ea;
    transition: border 0.1s ease-in, color 0.1s ease-in;
    position: relative;
    height: 35px;
    width: 35px;
}
.date_picker-header_button:focus {
    outline: 0;
}
.date_picker-header_button.is-disabled {
    cursor: default;
}
.date_picker-header_button.is-next:before,
.date_picker-header_button.is-prev:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 0.1s ease-in;
    color: #303030;
}
.date_picker-header_button.is-disabled .date_picker-header_button.is-next,
.date_picker-header_button.is-disabled .date_picker-header_button.is-prev {
    color: #acb3bb;
}
.date_picker-calendar_wrapper.is-shortcut_hover_outrange .date_picker-header_button.is-next,
.date_picker-calendar_wrapper.is-shortcut_hover_outrange .date_picker-header_button.is-prev {
    border-color: #4a90e2;
    background: #e7f5ff;
}
.date_picker-header_button.is-prev:before {
    content: '<';
}
.date_picker-header_button.is-next:after {
    content: '>';
}
.date_picker-days_of_week {
    font-size: 9px;
    display: flex;
    color: #c3c3c3;
    text-align: center;
    margin-bottom: 25px;
}
.date_picker-days_of_week_day {
    flex-basis: 15%;
}
.date_picker-week {
    display: flex;
    margin-bottom: 8px;
}
.date_picker-week:last-of-type {
    margin-bottom: 0;
}
.date_picker-week-day {
    height: 34px;
    width: 34px;
    vertical-align: middle;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
    background: #fff;
    position: relative;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
}
.date_picker-week-day:first-of-type:hover,
.date_picker-week-day:last-of-type:hover {
    border-radius: 50%;
}
.date_picker-week-day:first-of-type {
    border-radius: 50% 0 0 50%;
}
.date_picker-week-day:last-of-type {
    border-radius: 0 50% 50% 0;
}
.date_picker-week-day.is-prev_month,
.date_picker-week-day.is-next_month {
    color: rgba(172,179,187,0.85);
}
.date_picker-week-day.is-today {
    font-weight: 700;
}
.date_picker-week-day.is-selected {
    background: #e3effc;
    color: #404040;
    position: relative;
    z-index: 1;
    border-radius: 0;
}
.date_picker-week-day.is-selected:first-of-type {
    border-radius: 50% 0 0 50%;
}
.date_picker-week-day.is-selected:last-of-type {
    border-radius: 0 50% 50% 0;
}
.date_picker-week-day.is-selected::before {
    background: #3863a0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    color: #fff;
}
.date_picker-calendar_wrapper.is-shortcut_hovered .date_picker-week-day.is-selected::before {
    background: #4a90e2;
}
.date_picker-week-day.is-selected:hover::before {
    content: '';
    box-shadow: inset 0 0 1px 0 #3863a0;
    background: #e3effc;
    color: #404040;
}
.date_picker-week-day.is-selected.is-start_selection.date_picker-week-day.is-selected:hover::before,
.date_picker-week-day.is-selected.is-end_selection.date_picker-week-day.is-selected:hover::before {
    background: #3863a0;
}
.date_picker-week-day.is-selected.is-start_selection,
.date_picker-week-day.is-selected.is-end_selection {
    background: #e3effc;
    color: #fff;
}
.date_picker-week-day.is-selected.is-start_selection::before,
.date_picker-week-day.is-selected.is-end_selection::before {
    content: '';
}
.date_picker-week-day.is-selected.is-start_selection {
    border-radius: 50% 0 0 50%;
}
.date_picker-week-day.is-selected.is-start_selection:last-of-type {
    border-radius: 50%;
}
.date_picker-week-day.is-selected.is-end_selection {
    border-radius: 0 50% 50% 0;
}
.date_picker-week-day.is-selected.is-end_selection.is-start_selection,
.date_picker-week-day.is-selected.is-end_selection:first-of-type {
    border-radius: 50%;
}
.date_picker-week-day.is-selectable {
    cursor: pointer;
    position: relative;
}
.date_picker-week-day.is-selectable:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.date_picker-week-day.is-selectable:hover:not(.is-selected) {
    z-index: 1;
    box-shadow: inset 0 0 1px 0 #3863a0;
}
.date_picker-week-day.is-not_selectable {
    color: #e4e7ea;
}
.date_picker-notice {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    background: #ff6c7e;
    max-width: 238px;
}